<div class="jumbotron">
    <h1>Hospital System Project (ПС)</h1>
    <p class="lead">WEB API providing functionality for managing patients/doctors/hospitals as well as reservations, visitations and diagnoses. University task requirements fulfilled.</p>
</div>
